# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
/dist
/tmp
/out-tsc
/bin
/obj
/packages

# dependencies
/node_modules

# IDEs and editors
/.idea
/.vs
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db

# Test
/TestResults
/EmailSenderUnitTest
/SendGridSender/bin/Debug/netcoreapp2.1
/SendGridSender/obj
/StmpEmailSender/bin/Debug/netcoreapp2.1
/StmpEmailSender/obj
